body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    padding: 0;
    color: #A55592;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #A55592;
    margin-bottom: 10px;
}

p {
    color: #A55592;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #A55592;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #dcbcd5;
    color: black;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#resultados {
    margin-top: 20px;
    text-align: left;
    max-height: 200px;
    overflow-y: auto;
}

.jogo {
    margin-bottom: 10px;
    font-size: 16px;
}

.export-buttons {
    margin-top: 20px;
}
